



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  position: relative;
  text-align: center;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Centerr{
  font-weight:bold;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: purple;
  
}
.Centerr h1 {
color:white;
}
.roses{
  height: 500px;
  
}

.cbouquet{
  height:500px;
  
}

.gift{
  height:500px;
}
.card{
  width:500px;

}

.graduation{
  height:500px;
}